<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Cat Guru</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color: {{ background_color }};">
    <main class="main-container">
        <div class="container">
            <img id="avatar" src="{{ url_for('static', filename=avatar.split('static/')[1]) }}" alt="Cat Avatar">
            <div id="wisdom-container">
                <div id="wisdom" class="wisdom-text"></div>
                <button id="copy-wisdom-btn"><i class="fa-regular fa-copy"></i></button>
            </div>
            <div class="options">
                <button id="wisdomButton">Ask the Cat Guru <span class="tooltiptext">Unleash feline wisdom - one fact at a time!</span></button>
                <button id="avatarButton">Change Avatar <span class="tooltiptext">Give your cat a new look – because style matters!</span></button>
                <button id="backgroundButton">Change Background <span class="tooltiptext">Switch it up! Your cat deserves scenic vibes.</span></button>
            </div>
        </div>
    </main>
    <script>
        const avatar = document.getElementById('avatar');
        const wisdom = document.getElementById('wisdom');
        const wisdomButton = document.getElementById('wisdomButton');
        const avatarButton = document.getElementById('avatarButton');
        const backgroundButton = document.getElementById('backgroundButton');
        let backgroundColor = "{{ background_color }}";
        let currentAvatar = "{{ avatar }}";

        wisdomButton.addEventListener('click', () => {
            fetch('/wisdom')
                .then(response => response.json())
                .then(data => {
                    wisdom.innerText = data.wisdom;
                });
        });

        avatarButton.addEventListener('click', () => {
            fetch('/change_avatar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ current_avatar: currentAvatar })
            })
                .then(response => response.json())
                .then(data => {
                    avatar.src = "{{ url_for('static', filename='') }}" + data.new_avatar.split('static/')[1];
                    currentAvatar = data.new_avatar;
                });
        });

        backgroundButton.addEventListener('click', () => {
            fetch('/change_background', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ current_color: backgroundColor })
            })
                .then(response => response.json())
                .then(data => {
                    document.body.style.backgroundColor = data.new_color;
                    backgroundColor = data.new_color;
                });
        });
        document.getElementById('copy-wisdom-btn').addEventListener('click', function() {
            const wisdomText = document.getElementById('wisdom').innerText;
            navigator.clipboard.writeText(wisdomText).then(() => {
                alert('Wisdom copied to clipboard!');
            }).catch(err => {
            console.error('Failed to copy text:', err);
        });
    });
    </script>
</body>
</html>